{"openapi":"3.0.3","info":{"title":"Tabularium API","description":"Tabularium — index, submit, and discover plugins.","version":"1.0.0","contact":{"name":"Tabularium"},"license":{"name":"Apache-2.0"}},"servers":[{"url":"https://registry.tabularis.dev","description":"Production"}],"tags":[{"name":"Plugins","description":"Browse and inspect indexed plugins."},{"name":"Auth","description":"OAuth + email/password sign-in."},{"name":"Submit","description":"Register a new plugin via OAuth."},{"name":"Webhooks","description":"Release-event ingestion."},{"name":"Requests","description":"Community-driven plugin wish list."},{"name":"Admin","description":"Provider instances, settings, users (admin only)."}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"},"cookieAuth":{"type":"apiKey","in":"cookie","name":"auth"}},"schemas":{}},"paths":{"/healthz/":{"get":{"tags":["Plugins"],"summary":"Health check","description":"Liveness/readiness probe. Returns `{ ok: true }` (200) when DB + cache + storage are reachable, `{ ok: false }` (503) otherwise. Intentionally terse to avoid leaking driver / setup-mode details to unauthenticated callers — admins should hit `/api/admin/diagnostics` for the full breakdown.","operationId":"healthz","responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["ok"],"properties":{"ok":{"type":"boolean"}},"additionalProperties":false}}}},"503":{"description":"Response for status 503","content":{"application/json":{"schema":{"type":"object","required":["ok"],"properties":{"ok":{"type":"boolean"}},"additionalProperties":false}}}}}}},"/api/plugins/":{"get":{"tags":["Plugins"],"summary":"List plugins","description":"Paginated catalog. Supports `search` (name/description/slug), `category` (exact), `tag` (exact), `featured=1`, and `sort=updated|new|name|featured`. Returns facets so the UI can render filter chips without an extra request. Public — no auth required.","operationId":"listPlugins","parameters":[{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"category","in":"query","required":false,"schema":{"type":"string"}},{"name":"tag","in":"query","required":false,"schema":{"type":"string"}},{"name":"kind","in":"query","required":false,"schema":{"type":"string"}},{"name":"featured","in":"query","required":false,"schema":{"type":"string"}},{"name":"verified","in":"query","required":false,"schema":{"type":"string"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string","enum":["updated","new","name","featured"]}},{"name":"page","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["total","page","limit","plugins","facets"],"properties":{"total":{"type":"number"},"page":{"type":"number"},"limit":{"type":"number"},"plugins":{"type":"array","items":{"type":"object","required":["id","ownerId","providerInstanceId","name","description","author","repoUrl","homepage","latestVersion","status","category","tags","license","iconUrl","screenshots","documentationUrl","supportEmail","issuesUrl","featured","featuredOrder","verified","verifiedAt","extensions","downloads","manifestFetchedAt","createdAt","updatedAt"],"properties":{"id":{"type":"string"},"ownerId":{"type":"string"},"providerInstanceId":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"type":"string"},"description":{"type":"string"},"author":{"type":"string"},"repoUrl":{"type":"string"},"homepage":{"type":"string"},"latestVersion":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"status":{"type":"string","enum":["approved","pending","rejected"]},"category":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"tags":{"type":"array","items":{"type":"string"}},"license":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"iconUrl":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"screenshots":{"type":"array","items":{"type":"object","required":["url","caption","alt"],"properties":{"url":{"type":"string"},"caption":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"alt":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]}}}},"documentationUrl":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"supportEmail":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"issuesUrl":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"featured":{"type":"boolean"},"featuredOrder":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"verified":{"type":"boolean"},"verifiedAt":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"extensions":{"nullable":true,"anyOf":[{"type":"object","patternProperties":{"^(.*)$":{}}},{"type":"null"}]},"downloads":{"type":"number"},"manifestFetchedAt":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"createdAt":{"type":"number"},"updatedAt":{"type":"number"}}}},"facets":{"type":"object","required":["categories","kinds"],"properties":{"categories":{"type":"array","items":{"type":"object","required":["value","count"],"properties":{"value":{"type":"string"},"count":{"type":"number"}}}},"kinds":{"type":"array","items":{"type":"object","required":["key","label","count"],"properties":{"key":{"type":"string"},"label":{"type":"string"},"count":{"type":"number"}}}}}}}}}}}}}},"/api/plugins/{slug}/":{"get":{"tags":["Plugins"],"summary":"Get plugin detail","description":"Full plugin record including release history and the rendered README HTML (sanitized via DOMPurify, cached 10 min). Public — no auth required. Pass `?locale=` to request a localized README; falls back to base language, then `en`, then the first available.","operationId":"getPlugin","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"locale","in":"query","required":false,"schema":{"maxLength":10,"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["id","ownerId","providerInstanceId","name","description","author","repoUrl","homepage","latestVersion","status","category","tags","license","iconUrl","screenshots","documentationUrl","supportEmail","issuesUrl","featured","featuredOrder","verified","verifiedAt","extensions","downloads","manifestFetchedAt","readmeHtml","readmeLocale","readmeAvailableLocales","createdAt","updatedAt","releases"],"properties":{"id":{"type":"string"},"ownerId":{"type":"string"},"providerInstanceId":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"type":"string"},"description":{"type":"string"},"author":{"type":"string"},"repoUrl":{"type":"string"},"homepage":{"type":"string"},"latestVersion":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"status":{"type":"string","enum":["approved","pending","rejected"]},"category":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"tags":{"type":"array","items":{"type":"string"}},"license":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"iconUrl":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"screenshots":{"type":"array","items":{"type":"object","required":["url","caption","alt"],"properties":{"url":{"type":"string"},"caption":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"alt":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]}}}},"documentationUrl":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"supportEmail":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"issuesUrl":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"featured":{"type":"boolean"},"featuredOrder":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"verified":{"type":"boolean"},"verifiedAt":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"extensions":{"nullable":true,"anyOf":[{"type":"object","patternProperties":{"^(.*)$":{}}},{"type":"null"}]},"downloads":{"type":"number"},"manifestFetchedAt":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"readmeHtml":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"readmeLocale":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"readmeAvailableLocales":{"type":"array","items":{"type":"string"}},"createdAt":{"type":"number"},"updatedAt":{"type":"number"},"releases":{"type":"array","items":{"type":"object","required":["id","pluginId","version","minRuntimeVersion","assets","createdAt","integrity"],"properties":{"id":{"type":"string"},"pluginId":{"type":"string"},"version":{"type":"string"},"minRuntimeVersion":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"assets":{"type":"object","patternProperties":{"^(.*)$":{"type":"object","required":["url"],"properties":{"url":{"type":"string"},"size":{"type":"number"},"sha256":{"type":"string"}}}}},"createdAt":{"type":"number"},"integrity":{"nullable":true,"anyOf":[{"type":"object","required":["jws","assets"],"properties":{"jws":{"type":"string"},"assets":{"type":"array","items":{"type":"object","required":["name","sha256","size","attestation_bundle"],"properties":{"name":{"type":"string"},"sha256":{"type":"string"},"size":{"type":"number"},"attestation_bundle":{}}}}}},{"type":"null"}]}}}}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}},"delete":{"tags":["Plugins"],"summary":"Delete plugin","description":"Removes the plugin and all of its releases from the registry. Requires auth and only the owner can perform it. The upstream repo and the webhook on the repo are left untouched.","operationId":"deletePlugin","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/plugins/{slug}/downloads/":{"get":{"tags":["Plugins"],"summary":"Aggregated download counts per version + platform","operationId":"getPluginDownloadStats","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["total","versions"],"properties":{"total":{"type":"number"},"versions":{"type":"array","items":{"type":"object","required":["version","total","platforms"],"properties":{"version":{"type":"string"},"total":{"type":"number"},"platforms":{"type":"object","patternProperties":{"^(.*)$":{"type":"number"}}}}}}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/plugins/{slug}/refresh-manifest/":{"post":{"tags":["Plugins"],"summary":"Re-fetch the .tabularium manifest (plugin owner)","description":"Pulls `.tabularium` (and the README) from the repo at the given ref (defaults to the latest released tag or HEAD). Authenticated plugin owners only; rate-limited to 1/min per plugin.","operationId":"authorRefreshPluginManifest","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ref":{"type":"string"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"ref":{"type":"string"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"ref":{"type":"string"}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["ok","slug","source","ref"],"properties":{"ok":{"type":"boolean"},"slug":{"type":"string"},"source":{"type":"string"},"ref":{"type":"string"}}}}}},"401":{"description":"Response for status 401","content":{"application/json":{"schema":{"type":"object","required":["error","reauthFor"],"properties":{"error":{"type":"string"},"reauthFor":{"type":"string"}}}}}},"403":{"description":"Response for status 403","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"412":{"description":"Response for status 412","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/plugins/{slug}/latest/":{"get":{"tags":["Plugins"],"summary":"Resolve latest release for a platform","description":"Returns the matching asset for the requested platform. `os` and `arch` are optional — if missing, the User-Agent is inspected; if still unknown, falls back to `universal`. The full per-platform map is always included so clients can present alternatives.","operationId":"getLatestAsset","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"os","in":"query","required":false,"schema":{"description":"`linux`, `darwin`, or `win`.","type":"string"}},{"name":"arch","in":"query","required":false,"schema":{"description":"`x64` or `arm64`.","type":"string"}},{"name":"redirect","in":"query","required":false,"schema":{"description":"Pass `1` to 302-redirect to the download URL instead of returning JSON.","type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["version","min_runtime_version","platform","download_url","platforms"],"properties":{"version":{"type":"string"},"min_runtime_version":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"platform":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"download_url":{"type":"string"},"size":{"type":"number"},"sha256":{"type":"string"},"platforms":{"type":"object","patternProperties":{"^(.*)$":{"type":"object","required":["url"],"properties":{"url":{"type":"string"},"size":{"type":"number"},"sha256":{"type":"string"}}}}}}}}}},"302":{"description":"Response for status 302","content":{"text/plain":{"schema":{"type":"string"}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"},"platforms":{"type":"object","patternProperties":{"^(.*)$":{"type":"object","required":["url"],"properties":{"url":{"type":"string"},"size":{"type":"number"},"sha256":{"type":"string"}}}}}}}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"},"platforms":{"type":"object","patternProperties":{"^(.*)$":{"type":"object","required":["url"],"properties":{"url":{"type":"string"},"size":{"type":"number"},"sha256":{"type":"string"}}}}}}}}}}}}},"/api/plugins/{slug}/transfer/":{"post":{"tags":["Plugins"],"summary":"Initiate a plugin ownership transfer","description":"Owner-only. Creates a pending transfer the recipient must accept (or reject) within 7 days. Cancel anytime via `DELETE /auth/me/transfers/:id`. Only one pending transfer per plugin at a time.","operationId":"initiateTransfer","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["newOwnerId"],"properties":{"newOwnerId":{"type":"string"},"message":{"maxLength":500,"type":"string"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["newOwnerId"],"properties":{"newOwnerId":{"type":"string"},"message":{"maxLength":500,"type":"string"}}}},"multipart/form-data":{"schema":{"type":"object","required":["newOwnerId"],"properties":{"newOwnerId":{"type":"string"},"message":{"maxLength":500,"type":"string"}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["ok","transferId","pluginId","toUserId","expiresAt"],"properties":{"ok":{"type":"boolean"},"transferId":{"type":"string"},"pluginId":{"type":"string"},"toUserId":{"type":"string"},"expiresAt":{"type":"number"}}}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"403":{"description":"Response for status 403","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"409":{"description":"Response for status 409","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/plugins/{slug}/stats/":{"get":{"tags":["Plugins"],"summary":"Provider stats (stars / forks / last push) for a plugin","description":"Lazily fetched from the upstream provider and cached for 10 minutes. Returns null fields when the provider is unreachable or the repo is private.","operationId":"getPluginStats","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["stars","forks","watchers","lastPushAt","homepage"],"properties":{"stars":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"forks":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"watchers":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"lastPushAt":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"homepage":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/plugins/{slug}/rehash/":{"post":{"tags":["Plugins"],"summary":"Re-hash release assets (plugin owner)","description":"Re-fetches every asset of the given (or latest) release and updates `sha256` + `size`. Useful when the original webhook fetch raced asset upload. Set `force: true` to re-hash assets that already have a sha256. Authenticated plugin owners only; rate-limited to 1/min per plugin.","operationId":"authorRehashRelease","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"version":{"type":"string"},"force":{"type":"boolean"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"version":{"type":"string"},"force":{"type":"boolean"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"version":{"type":"string"},"force":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["ok","slug","version","results"],"properties":{"ok":{"type":"boolean"},"slug":{"type":"string"},"version":{"type":"string"},"results":{"type":"object","patternProperties":{"^(.*)$":{"type":"object","properties":{"sha256":{"type":"string"},"size":{"type":"number"},"reason":{"type":"string"}}}}}}}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"401":{"description":"Response for status 401","content":{"application/json":{"schema":{"type":"object","required":["error","reauthFor"],"properties":{"error":{"type":"string"},"reauthFor":{"type":"string"}}}}}},"403":{"description":"Response for status 403","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"412":{"description":"Response for status 412","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/plugins/{slug}/releases/{version}/integrity/":{"get":{"tags":["Plugins"],"summary":"Asset integrity (sha256 + size) for a specific release","description":"Lookup endpoint for `sum.<host>`-style verifiers. When `release_assets` rows are present (post-ingest) the response includes the signed `jws` plus per-asset metadata (`name`, `sha256`, `size`, `attestation_bundle`). For legacy releases without per-asset rows yet, falls back to the platform-keyed JSON blob with `url`/`size`/`sha256`.","operationId":"getReleaseIntegrity","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"anyOf":[{"type":"object","required":["slug","version","jws","assets"],"properties":{"slug":{"type":"string"},"version":{"type":"string"},"jws":{"type":"string"},"assets":{"type":"array","items":{"type":"object","required":["name","sha256","size","attestation_bundle"],"properties":{"name":{"type":"string"},"sha256":{"type":"string"},"size":{"type":"number"},"attestation_bundle":{}}}}}},{"type":"object","required":["slug","version","assets"],"properties":{"slug":{"type":"string"},"version":{"type":"string"},"assets":{"type":"object","patternProperties":{"^(.*)$":{"type":"object","required":["url"],"properties":{"url":{"type":"string"},"size":{"type":"number"},"sha256":{"type":"string"}}}}}}}]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/requests/":{"get":{"tags":["Requests"],"summary":"List plugin requests","description":"Browse the community wishlist of plugins users would like to see. Sorted by upvotes by default. Public — no auth required.","operationId":"listRequests","parameters":[{"name":"page","in":"query","required":false,"schema":{"description":"1-based page index. Default 1.","type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"description":"Items per page, max 100. Default 20.","type":"string"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string","enum":["upvotes","recent"]}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["total","page","limit","requests"],"properties":{"total":{"type":"number"},"page":{"type":"number"},"limit":{"type":"number"},"requests":{"type":"array","items":{"type":"object","required":["id","slug","name","description","requesterId","upvotes","createdAt","claims","claimedByMe"],"properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"requesterId":{"type":"string"},"upvotes":{"type":"number"},"createdAt":{"type":"number"},"claims":{"type":"number"},"claimedByMe":{"type":"boolean"}}}}}}}}}}},"post":{"tags":["Requests"],"summary":"Create plugin request","description":"Add a new entry to the community wishlist. Requires auth. Slug must be unique across requests.","operationId":"createRequest","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["slug","name","description"],"properties":{"slug":{"pattern":"^[a-z0-9-]+$","minLength":1,"maxLength":80,"description":"URL-safe slug. Lowercase letters, digits, hyphens.","type":"string"},"name":{"minLength":1,"maxLength":120,"description":"Human-readable plugin name.","type":"string"},"description":{"minLength":1,"maxLength":2000,"description":"What the plugin should do.","type":"string"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["slug","name","description"],"properties":{"slug":{"pattern":"^[a-z0-9-]+$","minLength":1,"maxLength":80,"description":"URL-safe slug. Lowercase letters, digits, hyphens.","type":"string"},"name":{"minLength":1,"maxLength":120,"description":"Human-readable plugin name.","type":"string"},"description":{"minLength":1,"maxLength":2000,"description":"What the plugin should do.","type":"string"}}}},"multipart/form-data":{"schema":{"type":"object","required":["slug","name","description"],"properties":{"slug":{"pattern":"^[a-z0-9-]+$","minLength":1,"maxLength":80,"description":"URL-safe slug. Lowercase letters, digits, hyphens.","type":"string"},"name":{"minLength":1,"maxLength":120,"description":"Human-readable plugin name.","type":"string"},"description":{"minLength":1,"maxLength":2000,"description":"What the plugin should do.","type":"string"}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["id","slug","name","description","requesterId"],"properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"requesterId":{"type":"string"}}}}}},"403":{"description":"Response for status 403","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"409":{"description":"Response for status 409","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/requests/{id}/upvote/":{"post":{"tags":["Requests"],"summary":"Toggle upvote on a request","description":"Toggles the current user's vote on the request: if not yet voted, adds a vote; if already voted, removes it. Returns the new total and the user's new vote state. Requires auth.","operationId":"toggleUpvote","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/requests/{id}/claim/":{"post":{"tags":["Requests"],"summary":"Toggle a claim on a plugin request","description":"Adds or removes the current user's claim on the request. Claims are non-exclusive — multiple users can claim the same request. They do not block plugin submission.","operationId":"toggleRequestClaim","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["claimed","claims"],"properties":{"claimed":{"type":"boolean"},"claims":{"type":"number"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/docs/plugin-development/":{"get":{"tags":["Plugins"],"summary":"Plugin developer docs (live, localized)","description":"Returns a structured PluginDocs document with the current core schema, global extensions, per-kind extensions, examples (YAML + JSON), and links to the OpenAPI spec. Generated on every request from the live registry state. Pass ?format=md for a single flat markdown blob (LLM-friendly).","operationId":"getPluginDocs","parameters":[{"name":"locale","in":"query","required":false,"schema":{"maxLength":16,"type":"string"}},{"name":"format","in":"query","required":false,"schema":{"type":"string","enum":["md","markdown"]}}]}},"/api/kinds/":{"get":{"tags":["Plugins"],"summary":"List active plugin kinds","description":"Returns the registry-wide list of plugin kinds defined by the admin. Plugin authors mark a plugin's kind by adding the matching value to their `tags` field. Public — no auth required. A kind may opt in to a dedicated public catalogue page at `/c/:key` via `publicPageEnabled`; consumers treat the field as falsy when absent.","operationId":"listKinds","responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["kinds"],"properties":{"kinds":{"type":"array","items":{"type":"object","required":["key","label","description"],"properties":{"key":{"type":"string"},"label":{"type":"string"},"description":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"publicPageEnabled":{"type":"boolean"},"publicPageCopy":{"nullable":true,"anyOf":[{"type":"object","required":["hero","intro"],"properties":{"hero":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"intro":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]}}},{"type":"null"}]}}}}}}}}}}}},"/api/admin/plugins/":{"get":{"tags":["Admin"],"summary":"List plugins (incl. non-approved)","operationId":"adminListPlugins","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["approved","pending","rejected"]}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["total","plugins"],"properties":{"total":{"type":"number"},"plugins":{"type":"array","items":{"type":"object","required":["id","ownerId","name","description","repoUrl","status","rejectionReason","latestVersion","featured","featuredOrder","verified","verifiedAt","verifiedBy","category","manifestFetchedAt","createdAt","updatedAt"],"properties":{"id":{"type":"string"},"ownerId":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"repoUrl":{"type":"string"},"status":{"type":"string","enum":["approved","pending","rejected"]},"rejectionReason":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"latestVersion":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"featured":{"type":"boolean"},"featuredOrder":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"verified":{"type":"boolean"},"verifiedAt":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"verifiedBy":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"category":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"manifestFetchedAt":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"createdAt":{"type":"number"},"updatedAt":{"type":"number"}}}}}}}}}}}},"/api/admin/plugins/{id}/":{"patch":{"tags":["Admin"],"summary":"Update plugin (status / moderation / pin / categorize)","description":"Partial update. `status` toggles approval. `featured: true` pins to the landing grid (use `featuredOrder` to set position). `category`/`tags` are normally driven by the `.tabularium` manifest but can be overridden here.","operationId":"updatePlugin","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["approved","pending","rejected"]},"rejectionReason":{"maxLength":500,"type":"string"},"category":{"maxLength":40,"type":"string"},"tags":{"maxItems":16,"type":"array","items":{"maxLength":30,"type":"string"}},"featured":{"type":"boolean"},"featuredOrder":{"type":"number"},"ownerId":{"type":"string"},"verified":{"type":"boolean"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["approved","pending","rejected"]},"rejectionReason":{"maxLength":500,"type":"string"},"category":{"maxLength":40,"type":"string"},"tags":{"maxItems":16,"type":"array","items":{"maxLength":30,"type":"string"}},"featured":{"type":"boolean"},"featuredOrder":{"type":"number"},"ownerId":{"type":"string"},"verified":{"type":"boolean"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["approved","pending","rejected"]},"rejectionReason":{"maxLength":500,"type":"string"},"category":{"maxLength":40,"type":"string"},"tags":{"maxItems":16,"type":"array","items":{"maxLength":30,"type":"string"}},"featured":{"type":"boolean"},"featuredOrder":{"type":"number"},"ownerId":{"type":"string"},"verified":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["ok","id"],"properties":{"ok":{"type":"boolean"},"id":{"type":"string"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}},"delete":{"tags":["Admin"],"summary":"Force-delete a plugin (admin override)","operationId":"adminDeletePlugin","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/admin/plugins/{id}/replay-webhook/":{"post":{"tags":["Admin"],"summary":"Manually replay the latest release ingest","description":"Re-fetches the upstream latest release via the owner's stored OAuth token and runs the same ingest path the webhook uses. Useful when the webhook never fired (initial setup) or upstream timed out. Skips signature verification.","operationId":"replayWebhook","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["ok"],"properties":{"ok":{"type":"boolean"},"version":{"type":"string"},"assets":{"type":"array","items":{"type":"string"}},"skipped":{"type":"boolean"},"reason":{"type":"string"}}}}}},"401":{"description":"Response for status 401","content":{"application/json":{"schema":{"type":"object","required":["error","reauthFor"],"properties":{"error":{"type":"string"},"reauthFor":{"type":"string"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"412":{"description":"Response for status 412","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"423":{"description":"Response for status 423","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/admin/plugins/{id}/refresh-manifest/":{"post":{"tags":["Admin"],"summary":"Re-fetch the .tabularium manifest from the repo","description":"Pulls `.tabularium` (and the README) from the repo at the given ref (defaults to the latest released tag or HEAD).","operationId":"refreshPluginManifest","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ref":{"type":"string"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"ref":{"type":"string"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"ref":{"type":"string"}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["ok","slug","source","ref"],"properties":{"ok":{"type":"boolean"},"slug":{"type":"string"},"source":{"type":"string"},"ref":{"type":"string"}}}}}},"401":{"description":"Response for status 401","content":{"application/json":{"schema":{"type":"object","required":["error","reauthFor"],"properties":{"error":{"type":"string"},"reauthFor":{"type":"string"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"412":{"description":"Response for status 412","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"422":{"description":"Response for status 422","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/admin/plugins/{id}/rehash/":{"post":{"tags":["Admin"],"summary":"Re-hash release assets","description":"Re-fetches every asset of the given (or latest) release and updates `sha256` + `size`. Useful when the original webhook fetch failed. Set `force: true` to re-hash assets that already have a sha256.","operationId":"rehashRelease","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"version":{"type":"string"},"force":{"type":"boolean"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"version":{"type":"string"},"force":{"type":"boolean"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"version":{"type":"string"},"force":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["ok","slug","version","results"],"properties":{"ok":{"type":"boolean"},"slug":{"type":"string"},"version":{"type":"string"},"results":{"type":"object","patternProperties":{"^(.*)$":{"type":"object","properties":{"sha256":{"type":"string"},"size":{"type":"number"},"reason":{"type":"string"}}}}}}}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/admin/plugins/bulk/":{"post":{"tags":["Admin"],"summary":"Bulk-approve / reject / delete plugins","description":"Apply the same action to up to 100 plugins in one round-trip. `delete` cascades to releases. `reject` accepts an optional reason. Single audit-log entry per call.","operationId":"bulkPluginAction","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["ids","action"],"properties":{"ids":{"maxItems":100,"type":"array","items":{"type":"string"}},"action":{"type":"string","enum":["approve","reject","delete"]},"rejectionReason":{"maxLength":500,"type":"string"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["ids","action"],"properties":{"ids":{"maxItems":100,"type":"array","items":{"type":"string"}},"action":{"type":"string","enum":["approve","reject","delete"]},"rejectionReason":{"maxLength":500,"type":"string"}}}},"multipart/form-data":{"schema":{"type":"object","required":["ids","action"],"properties":{"ids":{"maxItems":100,"type":"array","items":{"type":"string"}},"action":{"type":"string","enum":["approve","reject","delete"]},"rejectionReason":{"maxLength":500,"type":"string"}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["ok","action","affected","missing"],"properties":{"ok":{"type":"boolean"},"action":{"type":"string","enum":["approve","reject","delete"]},"affected":{"type":"number"},"missing":{"type":"array","items":{"type":"string"}}}}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/admin/requests/{id}/":{"delete":{"tags":["Admin"],"summary":"Delete a plugin request","operationId":"adminDeleteRequest","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Response for status 204","content":{"type":"null"}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/admin/docs/":{"get":{"tags":["Admin"],"summary":"Read docs config (intro/outro/sections)","operationId":"adminGetDocsConfig","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["config"],"properties":{"config":{"type":"object","required":["introMarkdown","introMarkdownTranslations","outroMarkdown","outroMarkdownTranslations","customSections"],"properties":{"introMarkdown":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"introMarkdownTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"outroMarkdown":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"outroMarkdownTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"customSections":{"type":"array","items":{}}}}}}}}}}},"put":{"tags":["Admin"],"summary":"Update intro / outro markdown","operationId":"adminUpdateDocsConfig","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"intro":{"type":"object","required":["body"],"properties":{"body":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"translations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}}}},"outro":{"type":"object","required":["body"],"properties":{"body":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"translations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}}}}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"intro":{"type":"object","required":["body"],"properties":{"body":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"translations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}}}},"outro":{"type":"object","required":["body"],"properties":{"body":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"translations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}}}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"intro":{"type":"object","required":["body"],"properties":{"body":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"translations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}}}},"outro":{"type":"object","required":["body"],"properties":{"body":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"translations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}}}}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["config"],"properties":{"config":{"type":"object","required":["introMarkdown","introMarkdownTranslations","outroMarkdown","outroMarkdownTranslations","customSections"],"properties":{"introMarkdown":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"introMarkdownTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"outroMarkdown":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"outroMarkdownTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"customSections":{"type":"array","items":{}}}}}}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/admin/docs/sections/":{"get":{"tags":["Admin"],"summary":"List custom docs sections","operationId":"adminListDocsSections","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["sections"],"properties":{"sections":{"type":"array","items":{}}}}}}}}},"post":{"tags":["Admin"],"summary":"Create a custom docs section","operationId":"adminCreateDocsSection","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["id","title","body","position"],"properties":{"id":{"minLength":1,"maxLength":60,"type":"string"},"title":{"nullable":true,"anyOf":[{"maxLength":200,"type":"string"},{"type":"null"}]},"titleTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"body":{"minLength":1,"type":"string"},"bodyTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"position":{"anyOf":[{"const":"page_top","type":"string"},{"const":"before_kinds","type":"string"},{"const":"after_kinds","type":"string"},{"const":"page_bottom","type":"string"},{"type":"object","required":["kind","slot"],"properties":{"kind":{"minLength":1,"maxLength":40,"type":"string"},"slot":{"anyOf":[{"const":"before","type":"string"},{"const":"after","type":"string"}]}}}]}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["id","title","body","position"],"properties":{"id":{"minLength":1,"maxLength":60,"type":"string"},"title":{"nullable":true,"anyOf":[{"maxLength":200,"type":"string"},{"type":"null"}]},"titleTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"body":{"minLength":1,"type":"string"},"bodyTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"position":{"anyOf":[{"const":"page_top","type":"string"},{"const":"before_kinds","type":"string"},{"const":"after_kinds","type":"string"},{"const":"page_bottom","type":"string"},{"type":"object","required":["kind","slot"],"properties":{"kind":{"minLength":1,"maxLength":40,"type":"string"},"slot":{"anyOf":[{"const":"before","type":"string"},{"const":"after","type":"string"}]}}}]}}}},"multipart/form-data":{"schema":{"type":"object","required":["id","title","body","position"],"properties":{"id":{"minLength":1,"maxLength":60,"type":"string"},"title":{"nullable":true,"anyOf":[{"maxLength":200,"type":"string"},{"type":"null"}]},"titleTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"body":{"minLength":1,"type":"string"},"bodyTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"position":{"anyOf":[{"const":"page_top","type":"string"},{"const":"before_kinds","type":"string"},{"const":"after_kinds","type":"string"},{"const":"page_bottom","type":"string"},{"type":"object","required":["kind","slot"],"properties":{"kind":{"minLength":1,"maxLength":40,"type":"string"},"slot":{"anyOf":[{"const":"before","type":"string"},{"const":"after","type":"string"}]}}}]}}}}}},"responses":{"201":{"description":"Response for status 201","content":{"application/json":{"schema":{"type":"object","required":["section"],"properties":{"section":{}}}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"409":{"description":"Response for status 409","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/admin/docs/sections/{id}/":{"put":{"tags":["Admin"],"summary":"Update a custom docs section","operationId":"adminUpdateDocsSection","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["id","title","body","position"],"properties":{"id":{"minLength":1,"maxLength":60,"type":"string"},"title":{"nullable":true,"anyOf":[{"maxLength":200,"type":"string"},{"type":"null"}]},"titleTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"body":{"minLength":1,"type":"string"},"bodyTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"position":{"anyOf":[{"const":"page_top","type":"string"},{"const":"before_kinds","type":"string"},{"const":"after_kinds","type":"string"},{"const":"page_bottom","type":"string"},{"type":"object","required":["kind","slot"],"properties":{"kind":{"minLength":1,"maxLength":40,"type":"string"},"slot":{"anyOf":[{"const":"before","type":"string"},{"const":"after","type":"string"}]}}}]}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["id","title","body","position"],"properties":{"id":{"minLength":1,"maxLength":60,"type":"string"},"title":{"nullable":true,"anyOf":[{"maxLength":200,"type":"string"},{"type":"null"}]},"titleTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"body":{"minLength":1,"type":"string"},"bodyTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"position":{"anyOf":[{"const":"page_top","type":"string"},{"const":"before_kinds","type":"string"},{"const":"after_kinds","type":"string"},{"const":"page_bottom","type":"string"},{"type":"object","required":["kind","slot"],"properties":{"kind":{"minLength":1,"maxLength":40,"type":"string"},"slot":{"anyOf":[{"const":"before","type":"string"},{"const":"after","type":"string"}]}}}]}}}},"multipart/form-data":{"schema":{"type":"object","required":["id","title","body","position"],"properties":{"id":{"minLength":1,"maxLength":60,"type":"string"},"title":{"nullable":true,"anyOf":[{"maxLength":200,"type":"string"},{"type":"null"}]},"titleTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"body":{"minLength":1,"type":"string"},"bodyTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"position":{"anyOf":[{"const":"page_top","type":"string"},{"const":"before_kinds","type":"string"},{"const":"after_kinds","type":"string"},{"const":"page_bottom","type":"string"},{"type":"object","required":["kind","slot"],"properties":{"kind":{"minLength":1,"maxLength":40,"type":"string"},"slot":{"anyOf":[{"const":"before","type":"string"},{"const":"after","type":"string"}]}}}]}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["section"],"properties":{"section":{}}}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}},"delete":{"tags":["Admin"],"summary":"Delete a custom docs section","operationId":"adminDeleteDocsSection","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Response for status 204","content":{"type":"null"}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/admin/kinds/":{"get":{"tags":["Admin"],"summary":"List all plugin kinds","operationId":"adminListKinds","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["kinds"],"properties":{"kinds":{"type":"array","items":{"type":"object","required":["key","label","description"],"properties":{"key":{"type":"string"},"label":{"type":"string"},"labelTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"description":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"descriptionTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"extensionsSchema":{"nullable":true,"anyOf":[{"type":"object","patternProperties":{"^(.*)$":{}}},{"type":"null"}]},"publicPageEnabled":{"type":"boolean"},"publicPageCopy":{"nullable":true,"anyOf":[{"type":"object","required":["hero","intro"],"properties":{"hero":{"nullable":true,"anyOf":[{"maxLength":80,"type":"string"},{"type":"null"}]},"heroTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"intro":{"nullable":true,"anyOf":[{"maxLength":600,"type":"string"},{"type":"null"}]},"introTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}}}},{"type":"null"}]},"prosePre":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePreTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"prosePost":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePostTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"customExample":{"nullable":true,"anyOf":[{"type":"object","properties":{"yaml":{"type":"string"},"json":{"type":"string"}}},{"type":"null"}]}}}}}}}}}}},"post":{"tags":["Admin"],"summary":"Create a plugin kind","operationId":"adminCreateKind","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["key","label"],"properties":{"key":{"minLength":1,"maxLength":40,"type":"string"},"label":{"minLength":1,"maxLength":60,"type":"string"},"labelTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"description":{"nullable":true,"anyOf":[{"maxLength":280,"type":"string"},{"type":"null"}]},"descriptionTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"publicPageEnabled":{"type":"boolean"},"publicPageCopy":{"nullable":true,"anyOf":[{"type":"object","required":["hero","intro"],"properties":{"hero":{"nullable":true,"anyOf":[{"maxLength":80,"type":"string"},{"type":"null"}]},"heroTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"intro":{"nullable":true,"anyOf":[{"maxLength":600,"type":"string"},{"type":"null"}]},"introTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}}}},{"type":"null"}]},"prosePre":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePreTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"prosePost":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePostTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"customExample":{"nullable":true,"anyOf":[{"type":"object","properties":{"yaml":{"type":"string"},"json":{"type":"string"}}},{"type":"null"}]}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["key","label"],"properties":{"key":{"minLength":1,"maxLength":40,"type":"string"},"label":{"minLength":1,"maxLength":60,"type":"string"},"labelTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"description":{"nullable":true,"anyOf":[{"maxLength":280,"type":"string"},{"type":"null"}]},"descriptionTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"publicPageEnabled":{"type":"boolean"},"publicPageCopy":{"nullable":true,"anyOf":[{"type":"object","required":["hero","intro"],"properties":{"hero":{"nullable":true,"anyOf":[{"maxLength":80,"type":"string"},{"type":"null"}]},"heroTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"intro":{"nullable":true,"anyOf":[{"maxLength":600,"type":"string"},{"type":"null"}]},"introTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}}}},{"type":"null"}]},"prosePre":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePreTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"prosePost":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePostTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"customExample":{"nullable":true,"anyOf":[{"type":"object","properties":{"yaml":{"type":"string"},"json":{"type":"string"}}},{"type":"null"}]}}}},"multipart/form-data":{"schema":{"type":"object","required":["key","label"],"properties":{"key":{"minLength":1,"maxLength":40,"type":"string"},"label":{"minLength":1,"maxLength":60,"type":"string"},"labelTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"description":{"nullable":true,"anyOf":[{"maxLength":280,"type":"string"},{"type":"null"}]},"descriptionTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"publicPageEnabled":{"type":"boolean"},"publicPageCopy":{"nullable":true,"anyOf":[{"type":"object","required":["hero","intro"],"properties":{"hero":{"nullable":true,"anyOf":[{"maxLength":80,"type":"string"},{"type":"null"}]},"heroTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"intro":{"nullable":true,"anyOf":[{"maxLength":600,"type":"string"},{"type":"null"}]},"introTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}}}},{"type":"null"}]},"prosePre":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePreTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"prosePost":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePostTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"customExample":{"nullable":true,"anyOf":[{"type":"object","properties":{"yaml":{"type":"string"},"json":{"type":"string"}}},{"type":"null"}]}}}}}},"responses":{"201":{"description":"Response for status 201","content":{"application/json":{"schema":{"type":"object","required":["kind"],"properties":{"kind":{"type":"object","required":["key","label","description"],"properties":{"key":{"type":"string"},"label":{"type":"string"},"labelTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"description":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"descriptionTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"extensionsSchema":{"nullable":true,"anyOf":[{"type":"object","patternProperties":{"^(.*)$":{}}},{"type":"null"}]},"publicPageEnabled":{"type":"boolean"},"publicPageCopy":{"nullable":true,"anyOf":[{"type":"object","required":["hero","intro"],"properties":{"hero":{"nullable":true,"anyOf":[{"maxLength":80,"type":"string"},{"type":"null"}]},"heroTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"intro":{"nullable":true,"anyOf":[{"maxLength":600,"type":"string"},{"type":"null"}]},"introTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}}}},{"type":"null"}]},"prosePre":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePreTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"prosePost":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePostTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"customExample":{"nullable":true,"anyOf":[{"type":"object","properties":{"yaml":{"type":"string"},"json":{"type":"string"}}},{"type":"null"}]}}}}}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"409":{"description":"Response for status 409","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/admin/kinds/{key}/":{"get":{"tags":["Admin"],"summary":"Read one plugin kind","operationId":"adminGetKind","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["kind"],"properties":{"kind":{"type":"object","required":["key","label","description"],"properties":{"key":{"type":"string"},"label":{"type":"string"},"labelTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"description":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"descriptionTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"extensionsSchema":{"nullable":true,"anyOf":[{"type":"object","patternProperties":{"^(.*)$":{}}},{"type":"null"}]},"publicPageEnabled":{"type":"boolean"},"publicPageCopy":{"nullable":true,"anyOf":[{"type":"object","required":["hero","intro"],"properties":{"hero":{"nullable":true,"anyOf":[{"maxLength":80,"type":"string"},{"type":"null"}]},"heroTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"intro":{"nullable":true,"anyOf":[{"maxLength":600,"type":"string"},{"type":"null"}]},"introTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}}}},{"type":"null"}]},"prosePre":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePreTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"prosePost":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePostTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"customExample":{"nullable":true,"anyOf":[{"type":"object","properties":{"yaml":{"type":"string"},"json":{"type":"string"}}},{"type":"null"}]}}}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}},"put":{"tags":["Admin"],"summary":"Replace one plugin kind","operationId":"adminUpdateKind","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["key","label"],"properties":{"key":{"minLength":1,"maxLength":40,"type":"string"},"label":{"minLength":1,"maxLength":60,"type":"string"},"labelTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"description":{"nullable":true,"anyOf":[{"maxLength":280,"type":"string"},{"type":"null"}]},"descriptionTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"extensionsSchema":{"nullable":true,"anyOf":[{"type":"object","patternProperties":{"^(.*)$":{}}},{"type":"null"}]},"publicPageEnabled":{"type":"boolean"},"publicPageCopy":{"nullable":true,"anyOf":[{"type":"object","required":["hero","intro"],"properties":{"hero":{"nullable":true,"anyOf":[{"maxLength":80,"type":"string"},{"type":"null"}]},"heroTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"intro":{"nullable":true,"anyOf":[{"maxLength":600,"type":"string"},{"type":"null"}]},"introTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}}}},{"type":"null"}]},"prosePre":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePreTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"prosePost":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePostTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"customExample":{"nullable":true,"anyOf":[{"type":"object","properties":{"yaml":{"type":"string"},"json":{"type":"string"}}},{"type":"null"}]}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["key","label"],"properties":{"key":{"minLength":1,"maxLength":40,"type":"string"},"label":{"minLength":1,"maxLength":60,"type":"string"},"labelTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"description":{"nullable":true,"anyOf":[{"maxLength":280,"type":"string"},{"type":"null"}]},"descriptionTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"extensionsSchema":{"nullable":true,"anyOf":[{"type":"object","patternProperties":{"^(.*)$":{}}},{"type":"null"}]},"publicPageEnabled":{"type":"boolean"},"publicPageCopy":{"nullable":true,"anyOf":[{"type":"object","required":["hero","intro"],"properties":{"hero":{"nullable":true,"anyOf":[{"maxLength":80,"type":"string"},{"type":"null"}]},"heroTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"intro":{"nullable":true,"anyOf":[{"maxLength":600,"type":"string"},{"type":"null"}]},"introTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}}}},{"type":"null"}]},"prosePre":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePreTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"prosePost":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePostTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"customExample":{"nullable":true,"anyOf":[{"type":"object","properties":{"yaml":{"type":"string"},"json":{"type":"string"}}},{"type":"null"}]}}}},"multipart/form-data":{"schema":{"type":"object","required":["key","label"],"properties":{"key":{"minLength":1,"maxLength":40,"type":"string"},"label":{"minLength":1,"maxLength":60,"type":"string"},"labelTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"description":{"nullable":true,"anyOf":[{"maxLength":280,"type":"string"},{"type":"null"}]},"descriptionTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"extensionsSchema":{"nullable":true,"anyOf":[{"type":"object","patternProperties":{"^(.*)$":{}}},{"type":"null"}]},"publicPageEnabled":{"type":"boolean"},"publicPageCopy":{"nullable":true,"anyOf":[{"type":"object","required":["hero","intro"],"properties":{"hero":{"nullable":true,"anyOf":[{"maxLength":80,"type":"string"},{"type":"null"}]},"heroTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"intro":{"nullable":true,"anyOf":[{"maxLength":600,"type":"string"},{"type":"null"}]},"introTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}}}},{"type":"null"}]},"prosePre":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePreTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"prosePost":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePostTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"customExample":{"nullable":true,"anyOf":[{"type":"object","properties":{"yaml":{"type":"string"},"json":{"type":"string"}}},{"type":"null"}]}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["kind"],"properties":{"kind":{"type":"object","required":["key","label","description"],"properties":{"key":{"type":"string"},"label":{"type":"string"},"labelTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"description":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"descriptionTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"extensionsSchema":{"nullable":true,"anyOf":[{"type":"object","patternProperties":{"^(.*)$":{}}},{"type":"null"}]},"publicPageEnabled":{"type":"boolean"},"publicPageCopy":{"nullable":true,"anyOf":[{"type":"object","required":["hero","intro"],"properties":{"hero":{"nullable":true,"anyOf":[{"maxLength":80,"type":"string"},{"type":"null"}]},"heroTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}},"intro":{"nullable":true,"anyOf":[{"maxLength":600,"type":"string"},{"type":"null"}]},"introTranslations":{"type":"object","patternProperties":{"^(.*)$":{"maxLength":600,"type":"string"}}}}},{"type":"null"}]},"prosePre":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePreTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"prosePost":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"prosePostTranslations":{"type":"object","patternProperties":{"^(.*)$":{"type":"string"}}},"customExample":{"nullable":true,"anyOf":[{"type":"object","properties":{"yaml":{"type":"string"},"json":{"type":"string"}}},{"type":"null"}]}}}}}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"409":{"description":"Response for status 409","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}},"delete":{"tags":["Admin"],"summary":"Delete one plugin kind","operationId":"adminDeleteKind","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Response for status 204","content":{"type":"null"}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/admin/pages/":{"get":{"tags":["Admin"],"summary":"List all markdown pages (grouped by slug)","operationId":"adminListPages","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["pages"],"properties":{"pages":{"type":"array","items":{"type":"object","required":["slug","locale","path","title","content","published","navOrder","showInFooter","translations","createdAt","updatedAt"],"properties":{"slug":{"type":"string"},"locale":{"type":"string","enum":["en","de","es","fr","it","zh-CN"]},"path":{"type":"string"},"title":{"type":"string"},"content":{"type":"string"},"published":{"type":"boolean"},"navOrder":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"showInFooter":{"type":"boolean"},"translations":{"type":"array","items":{"type":"string","enum":["en","de","es","fr","it","zh-CN"]}},"createdAt":{"type":"number"},"updatedAt":{"type":"number"}}}}}}}}}}},"post":{"tags":["Admin"],"summary":"Create a markdown page","description":"Creates the default-locale row unless `locale` is given. Pass `path` to mount at any non-reserved URL.","operationId":"createPage","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["slug","title","content"],"properties":{"slug":{"type":"string"},"locale":{"type":"string","enum":["en","de","es","fr","it","zh-CN"]},"path":{"type":"string"},"title":{"minLength":1,"maxLength":120,"type":"string"},"content":{"maxLength":200000,"type":"string"},"published":{"type":"boolean"},"navOrder":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"showInFooter":{"type":"boolean"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["slug","title","content"],"properties":{"slug":{"type":"string"},"locale":{"type":"string","enum":["en","de","es","fr","it","zh-CN"]},"path":{"type":"string"},"title":{"minLength":1,"maxLength":120,"type":"string"},"content":{"maxLength":200000,"type":"string"},"published":{"type":"boolean"},"navOrder":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"showInFooter":{"type":"boolean"}}}},"multipart/form-data":{"schema":{"type":"object","required":["slug","title","content"],"properties":{"slug":{"type":"string"},"locale":{"type":"string","enum":["en","de","es","fr","it","zh-CN"]},"path":{"type":"string"},"title":{"minLength":1,"maxLength":120,"type":"string"},"content":{"maxLength":200000,"type":"string"},"published":{"type":"boolean"},"navOrder":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"showInFooter":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["ok","slug","path","locale"],"properties":{"ok":{"type":"boolean"},"slug":{"type":"string"},"path":{"type":"string"},"locale":{"type":"string","enum":["en","de","es","fr","it","zh-CN"]}}}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"409":{"description":"Response for status 409","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/admin/pages/preview/":{"post":{"tags":["Admin"],"summary":"Render markdown to sanitized HTML (admin live preview)","operationId":"previewPage","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["content"],"properties":{"content":{"maxLength":200000,"type":"string"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["content"],"properties":{"content":{"maxLength":200000,"type":"string"}}}},"multipart/form-data":{"schema":{"type":"object","required":["content"],"properties":{"content":{"maxLength":200000,"type":"string"}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["html"],"properties":{"html":{"type":"string"}}}}}}}}},"/api/admin/pages/{slug}/":{"get":{"tags":["Admin"],"summary":"Get a markdown page (raw)","operationId":"adminGetPage","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"locale","in":"query","required":false,"schema":{"type":"string","enum":["en","de","es","fr","it","zh-CN"]}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["slug","locale","path","title","content","published","navOrder","showInFooter","createdAt","updatedAt"],"properties":{"slug":{"type":"string"},"locale":{"type":"string","enum":["en","de","es","fr","it","zh-CN"]},"path":{"type":"string"},"title":{"type":"string"},"content":{"type":"string"},"published":{"type":"boolean"},"navOrder":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"showInFooter":{"type":"boolean"},"createdAt":{"type":"number"},"updatedAt":{"type":"number"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}},"patch":{"tags":["Admin"],"summary":"Update a markdown page (creates the translation row if absent)","operationId":"updatePage","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"locale","in":"query","required":false,"schema":{"type":"string","enum":["en","de","es","fr","it","zh-CN"]}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"minLength":1,"maxLength":120,"type":"string"},"content":{"maxLength":200000,"type":"string"},"published":{"type":"boolean"},"path":{"type":"string"},"navOrder":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"showInFooter":{"type":"boolean"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"title":{"minLength":1,"maxLength":120,"type":"string"},"content":{"maxLength":200000,"type":"string"},"published":{"type":"boolean"},"path":{"type":"string"},"navOrder":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"showInFooter":{"type":"boolean"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"title":{"minLength":1,"maxLength":120,"type":"string"},"content":{"maxLength":200000,"type":"string"},"published":{"type":"boolean"},"path":{"type":"string"},"navOrder":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"showInFooter":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["ok"],"properties":{"ok":{"type":"boolean"}}}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"409":{"description":"Response for status 409","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}},"delete":{"tags":["Admin"],"summary":"Delete a markdown page (all locales) or one translation when `locale` is given","operationId":"deletePage","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"locale","in":"query","required":false,"schema":{"type":"string","enum":["en","de","es","fr","it","zh-CN"]}}]}},"/api/admin/pages/{slug}/translations":{"get":{"tags":["Admin"],"summary":"List existing translations for a page","operationId":"adminListPageTranslations","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["translations"],"properties":{"translations":{"type":"array","items":{"type":"object","required":["locale","title","updatedAt"],"properties":{"locale":{"type":"string","enum":["en","de","es","fr","it","zh-CN"]},"title":{"type":"string"},"updatedAt":{"type":"number"}}}}}}}}}}}},"/api/admin/setup/complete/":{"post":{"tags":["Admin"],"summary":"Mark the setup wizard as completed","description":"Sets `setup.completed_at` in settings. Frontend stops redirecting to /welcome after this.","operationId":"completeSetup","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["ok"],"properties":{"ok":{"type":"boolean"}}}}}}}}},"/api/admin/provider-instances/":{"get":{"tags":["Admin"],"summary":"List all provider instances (secrets redacted)","operationId":"listProviderInstances","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["instances"],"properties":{"instances":{"type":"array","items":{"type":"object","required":["id","kind","displayName","baseUrl","clientId","logoUrl","enabled","hasOAuthSecret","lastUsedAt"],"properties":{"id":{"type":"string"},"kind":{"type":"string","enum":["github","gitlab","gitea"]},"displayName":{"type":"string"},"baseUrl":{"type":"string"},"clientId":{"type":"string"},"logoUrl":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"enabled":{"type":"boolean"},"hasOAuthSecret":{"type":"boolean"},"lastUsedAt":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]}}}}}}}}}}},"post":{"tags":["Admin"],"summary":"Create a new provider instance","operationId":"createProviderInstance","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["id","kind","displayName","baseUrl","clientId","clientSecret"],"properties":{"id":{"minLength":1,"maxLength":64,"type":"string"},"kind":{"type":"string","enum":["github","gitlab","gitea"]},"displayName":{"minLength":1,"maxLength":80,"type":"string"},"baseUrl":{"minLength":1,"type":"string"},"clientId":{"minLength":1,"type":"string"},"clientSecret":{"minLength":1,"type":"string"},"logoUrl":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"enabled":{"type":"boolean"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["id","kind","displayName","baseUrl","clientId","clientSecret"],"properties":{"id":{"minLength":1,"maxLength":64,"type":"string"},"kind":{"type":"string","enum":["github","gitlab","gitea"]},"displayName":{"minLength":1,"maxLength":80,"type":"string"},"baseUrl":{"minLength":1,"type":"string"},"clientId":{"minLength":1,"type":"string"},"clientSecret":{"minLength":1,"type":"string"},"logoUrl":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"enabled":{"type":"boolean"}}}},"multipart/form-data":{"schema":{"type":"object","required":["id","kind","displayName","baseUrl","clientId","clientSecret"],"properties":{"id":{"minLength":1,"maxLength":64,"type":"string"},"kind":{"type":"string","enum":["github","gitlab","gitea"]},"displayName":{"minLength":1,"maxLength":80,"type":"string"},"baseUrl":{"minLength":1,"type":"string"},"clientId":{"minLength":1,"type":"string"},"clientSecret":{"minLength":1,"type":"string"},"logoUrl":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"enabled":{"type":"boolean"}}}}}},"responses":{"201":{"description":"Response for status 201","content":{"application/json":{"schema":{"type":"object","required":["id","kind","displayName","baseUrl","clientId","logoUrl","enabled","hasOAuthSecret","lastUsedAt"],"properties":{"id":{"type":"string"},"kind":{"type":"string","enum":["github","gitlab","gitea"]},"displayName":{"type":"string"},"baseUrl":{"type":"string"},"clientId":{"type":"string"},"logoUrl":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"enabled":{"type":"boolean"},"hasOAuthSecret":{"type":"boolean"},"lastUsedAt":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]}}}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"409":{"description":"Response for status 409","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/admin/provider-instances/{id}/":{"get":{"tags":["Admin"],"summary":"Get a single provider instance","operationId":"getProviderInstance","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["id","kind","displayName","baseUrl","clientId","logoUrl","enabled","hasOAuthSecret","lastUsedAt"],"properties":{"id":{"type":"string"},"kind":{"type":"string","enum":["github","gitlab","gitea"]},"displayName":{"type":"string"},"baseUrl":{"type":"string"},"clientId":{"type":"string"},"logoUrl":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"enabled":{"type":"boolean"},"hasOAuthSecret":{"type":"boolean"},"lastUsedAt":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}},"patch":{"tags":["Admin"],"summary":"Partially update a provider instance","operationId":"patchProviderInstance","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"kind":{"type":"string","enum":["github","gitlab","gitea"]},"displayName":{"type":"string"},"baseUrl":{"type":"string"},"clientId":{"type":"string"},"clientSecret":{"type":"string"},"logoUrl":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"enabled":{"type":"boolean"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"kind":{"type":"string","enum":["github","gitlab","gitea"]},"displayName":{"type":"string"},"baseUrl":{"type":"string"},"clientId":{"type":"string"},"clientSecret":{"type":"string"},"logoUrl":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"enabled":{"type":"boolean"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"kind":{"type":"string","enum":["github","gitlab","gitea"]},"displayName":{"type":"string"},"baseUrl":{"type":"string"},"clientId":{"type":"string"},"clientSecret":{"type":"string"},"logoUrl":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"enabled":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["id","kind","displayName","baseUrl","clientId","logoUrl","enabled","hasOAuthSecret","lastUsedAt"],"properties":{"id":{"type":"string"},"kind":{"type":"string","enum":["github","gitlab","gitea"]},"displayName":{"type":"string"},"baseUrl":{"type":"string"},"clientId":{"type":"string"},"logoUrl":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"enabled":{"type":"boolean"},"hasOAuthSecret":{"type":"boolean"},"lastUsedAt":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]}}}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}},"delete":{"tags":["Admin"],"summary":"Delete a provider instance","operationId":"deleteProviderInstance","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/admin/provider-instances/{id}/test-oauth/":{"post":{"tags":["Admin"],"summary":"Probe the OAuth authorize endpoint for a provider instance","description":"Issues a GET (manual redirect, 5s timeout) against the provider-kind specific authorize URL. A 302/400 typically means \"configured correctly\". 5xx or fetch errors are reported as not-ok. Records an audit entry with the outcome.","operationId":"testProviderOAuth","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["ok","status"],"properties":{"ok":{"type":"boolean"},"status":{"type":"number"},"error":{"type":"string"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/admin/provider-instances/{id}/logo/":{"post":{"tags":["Admin"],"summary":"Upload a logo for a provider instance","description":"Multipart upload. Field name must be `file`. Accepts png/jpg/webp/svg up to 512 KB. Storage backend is set in `/admin/infra/storage`. The instance row is updated to reference the new URL (includes a cache-buster query param).","operationId":"uploadProviderLogo","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["file"],"properties":{"file":{"default":"File","type":"string","format":"binary"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["file"],"properties":{"file":{"default":"File","type":"string","format":"binary"}}}},"multipart/form-data":{"schema":{"type":"object","required":["file"],"properties":{"file":{"default":"File","type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["ok","logoUrl","storedAt"],"properties":{"ok":{"type":"boolean"},"logoUrl":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"storedAt":{"type":"string"}}}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"413":{"description":"Response for status 413","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"415":{"description":"Response for status 415","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"500":{"description":"Response for status 500","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/admin/provider-instances/bulk/":{"post":{"tags":["Admin"],"summary":"Bulk enable / disable provider instances","description":"Flip `enabled` on up to 100 provider instances in one round-trip. Unknown ids are returned in `missing` and silently skipped. Single audit-log entry per call.","operationId":"bulkProviderInstanceAction","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["ids","action"],"properties":{"ids":{"maxItems":100,"type":"array","items":{"type":"string"}},"action":{"type":"string","enum":["enable","disable"]}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["ids","action"],"properties":{"ids":{"maxItems":100,"type":"array","items":{"type":"string"}},"action":{"type":"string","enum":["enable","disable"]}}}},"multipart/form-data":{"schema":{"type":"object","required":["ids","action"],"properties":{"ids":{"maxItems":100,"type":"array","items":{"type":"string"}},"action":{"type":"string","enum":["enable","disable"]}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["ok","action","affected","missing"],"properties":{"ok":{"type":"boolean"},"action":{"type":"string","enum":["enable","disable"]},"affected":{"type":"number"},"missing":{"type":"array","items":{"type":"string"}}}}}}},"400":{"description":"Response for status 400","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/admin/settings/":{"get":{"tags":["Admin"],"summary":"List all settings (encrypted values masked)","operationId":"listSettings","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["settings"],"properties":{"settings":{"type":"array","items":{"type":"object","required":["key","value","encrypted","updatedAt"],"properties":{"key":{"type":"string"},"value":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"encrypted":{"type":"boolean"},"updatedAt":{"type":"number"}}}}}}}}}}}},"/api/admin/settings/{key}/":{"get":{"tags":["Admin"],"summary":"Get a single setting (secrets redacted)","operationId":"getSetting","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["key","value","encrypted"],"properties":{"key":{"type":"string"},"value":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"encrypted":{"type":"boolean"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}},"put":{"tags":["Admin"],"summary":"Create or update a setting","description":"Keys ending in `.client_secret`, `.password`, or `.token` are stored encrypted automatically.","operationId":"putSetting","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["value"],"properties":{"value":{"type":"string"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["value"],"properties":{"value":{"type":"string"}}}},"multipart/form-data":{"schema":{"type":"object","required":["value"],"properties":{"value":{"type":"string"}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["ok"],"properties":{"ok":{"type":"boolean"}}}}}}}},"delete":{"tags":["Admin"],"summary":"Delete a setting","operationId":"deleteSetting","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"key","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/admin/features/":{"get":{"tags":["Admin"],"summary":"Get feature flags","operationId":"adminGetFeatures","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["submissionsEnabled","requestsEnabled"],"properties":{"submissionsEnabled":{"type":"boolean"},"requestsEnabled":{"type":"boolean"}}}}}}}},"patch":{"tags":["Admin"],"summary":"Toggle feature flags","operationId":"adminUpdateFeatures","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"submissionsEnabled":{"type":"boolean"},"requestsEnabled":{"type":"boolean"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"submissionsEnabled":{"type":"boolean"},"requestsEnabled":{"type":"boolean"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"submissionsEnabled":{"type":"boolean"},"requestsEnabled":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["submissionsEnabled","requestsEnabled"],"properties":{"submissionsEnabled":{"type":"boolean"},"requestsEnabled":{"type":"boolean"}}}}}}}}},"/api/admin/users/":{"get":{"tags":["Admin"],"summary":"List users (most recent first)","operationId":"listUsers","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["users"],"properties":{"users":{"type":"array","items":{"type":"object","required":["id","displayName","email","role","createdAt"],"properties":{"id":{"type":"string"},"displayName":{"type":"string"},"email":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"role":{"type":"string","enum":["user","admin"]},"createdAt":{"type":"number"}}}}}}}}}}}},"/api/admin/users/{id}/":{"get":{"tags":["Admin"],"summary":"Get a single user","operationId":"getUser","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["id","displayName","email","role","createdAt"],"properties":{"id":{"type":"string"},"displayName":{"type":"string"},"email":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"role":{"type":"string","enum":["user","admin"]},"createdAt":{"type":"number"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}},"patch":{"tags":["Admin"],"summary":"Update a user (role or displayName)","operationId":"patchUser","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"role":{"type":"string","enum":["user","admin"]},"displayName":{"minLength":1,"maxLength":60,"type":"string"}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"role":{"type":"string","enum":["user","admin"]},"displayName":{"minLength":1,"maxLength":60,"type":"string"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"role":{"type":"string","enum":["user","admin"]},"displayName":{"minLength":1,"maxLength":60,"type":"string"}}}}}},"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["id","displayName","email","role","createdAt"],"properties":{"id":{"type":"string"},"displayName":{"type":"string"},"email":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"role":{"type":"string","enum":["user","admin"]},"createdAt":{"type":"number"}}}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}},"409":{"description":"Response for status 409","content":{"application/json":{"schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string"}}}}}}}}},"/api/admin/audit/":{"get":{"tags":["Admin"],"summary":"List audit log entries","operationId":"listAudit","security":[{"bearerAuth":[]},{"cookieAuth":[]}],"parameters":[{"name":"action","in":"query","required":false,"schema":{"type":"string"}},{"name":"actorId","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Response for status 200","content":{"application/json":{"schema":{"type":"object","required":["total","page","limit","entries"],"properties":{"total":{"type":"number"},"page":{"type":"number"},"limit":{"type":"number"},"entries":{"type":"array","items":{"type":"object","required":["id","actorId","actorName","action","target","meta","ip","createdAt"],"properties":{"id":{"type":"string"},"actorId":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"actorName":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"action":{"type":"string"},"target":{"nullable":true,"anyOf":[{"type":"string"},{"type":"nu
[...]
